@import "react-toastify/dist/ReactToastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-slate-200;
  }
  
  body {
    @apply font-sans antialiased;
  }
}

@layer components {
  .toast-container {
    @apply !top-4 !right-4;
  }
  
  .Toastify__toast {
    @apply !rounded-lg !shadow-lg !px-4 !py-3 !min-h-[3.5rem];
  }
  
  .Toastify__toast--success {
    @apply !bg-green-500;
  }
  
  .Toastify__toast--error {
    @apply !bg-red-500;
  }
  
  .Toastify__toast--warning {
    @apply !bg-amber-500;
  }
  
  .Toastify__toast--info {
    @apply !bg-blue-500;
  }
  
  .Toastify__progress-bar {
    @apply !h-1;
  }
}